/* ---------------------- */
/* STYLES TO ALL ELEMENTS */
/* ---------------------- */
* {
  font-family: 'Didact Gothic', sans-serif;
}
* h1 {
  text-align: center;
}
h2 {
  font-size: 3em;
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 1.6em;
  color: #a0850c;
  margin-bottom: 30px;
}
p {
  font-size: 1.35em;
}
.end {
  margin: 50px 30px 70px 30px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.end1 {
  background: #171400;
}
.end2 {
  background: #e8be00;
}
.end3 {
  background: #fcce00;
}
.button {
  height: 50px;
  width: 200px;
  background: #fcce00;
  margin: 70px auto;
}
.button p {
  padding: 0;
  text-align: center;
  padding-top: 10px;
  font-size: 1.6em;
}
.button a {
  color: inherit;
}
.button a:hover {
  text-decoration: none;
}
/* -------------------- */
/* -------------------- */
header {
  background: #ffffff;
}
header #navigation {
  position: absolute;
  top: 660px;
  width: 100%;
  z-index: 5;
}
header #navigation .active a {
  background: #1c1c1c;
}
header #navigation .navbar {
  background: #2e2e2e;
  border: none;
  border-radius: 0px;
}
header #navigation .navbar a:hover {
  background: #1c1c1c;
  color: #fcce00;
}
header #navigation .navbar ul {
  font-size: 1.4em;
}
header #navigation .navbar ul li a {
  color: #e8be00;
}
header #navigation .navbar ul li:active {
  background: #1c1c1c;
}
header #navigation .navbar .dropdown-menu {
  background: #2e2e2e;
  border: none;
  box-shadow: none;
}
header #navigation .navbar .dropdown-menu a:hover {
  background: #1c1c1c;
}
header #navigation .navbar .dropdown-menu li {
  margin: 10px 0;
}
header #navigation .navbar .dropdown-menu li a {
  font-size: 0.7em;
}
#slider {
  position: absolute;
  top: 0px;
}
#slider #carousel-example-generic .carousel-inner {
  display: block;
  width: 100%;
  height: 660px;
  overflow: hidden;
}
#slider #carousel-example-generic .carousel-inner img {
  width: 100%;
  height: 660px;
}
#black {
  width: 100%;
  height: 660px;
  position: absolute;
  top: 0px;
  background: #000;
  opacity: 0.5;
  z-index: 4;
}
#title {
  position: absolute;
  top: 100px;
  z-index: 5;
}
#title h1 {
  text-align: center;
  font-family: "Poiret One", serif;
  font-size: 7em;
  color: #fcce00;
  font-weight: bold;
}
#title p {
  text-align: center;
  font-size: 1.2em;
  color: #525252;
  color: #fcce00;
  padding: 20px 300px;
}
#title #number {
  font-size: 2em;
  font-family: "Poiret One", serif;
  font-weight: bold;
}
#title img {
  width: 100px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin: 0px auto;
}
#we_are {
  background: #ffffff;
  margin-top: 750px;
  text-align: center;
}
#we_are .container {
  padding-top: 50px;
}
#we_are p {
  padding: 0 100px;
}
#services {
  background: #ffffff;
  padding-top: 0px;
}
#services .container:first-child {
  border-top: 1px solid #e8be00;
}
#services .serv_h2 {
  background: #ffffff;
  color: #1c1c1c;
  padding: 35px ;
}
#services .serv_h2 h2 {
  padding: 70px auto 20px auto;
}
#services .container {
  background: #ffffff;
}
#services .container .service {
  margin: 50px 0px 0px 0px;
  width: 100%;
  height: 250px;
  padding-top: 10px;
  opacity: 0;
}
#services .container .service a:hover {
  text-decoration: none;
}
#services .container .service .s_icon {
  width: 85%;
  height: 175px;
  background: #fcce00;
  margin: 30px auto;
  opacity: 0.8;
  padding-top: 15px;
}
#services .container .service img {
  height: 115px;
  opacity: 1;
  margin: 0px auto;
  display: block;
}
#services .container .service p {
  text-align: center;
  margin: 0px auto;
  font-size: 2em;
  color: #171400;
  opacity: 1;
}
#services .container .serv1 {
  background: url("img/serv/1.jpg") 20% 20%;
  background-size: cover;
}
#services .container .serv2 {
  background: url("img/serv/2.png") 50% 50%;
  background-size: cover;
}
#services .container .serv3 {
  background: url("img/serv/3.jpg") 50% 50%;
  background-size: cover;
}
#services .container .serv4 {
  background: url("img/serv/5.jpg") 50% 50%;
  background-size: cover;
}
#services .container .types {
  display: none;
  position: absolute;
  width: 93%;
  height: 50px;
  left: 15px;
}
#services .container .types p {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Poiret One", serif;
  color: #a0850c;
}
#works {
  /*********** BUTTONS ***********/
}
#works .container {
  border-top: 1px solid #e8be00;
}
#works h2 {
  margin: 70px auto;
}
#works .carousel {
  max-width: 980px;
  /* ширина всего блока */
  margin: 50px auto;
  width: 100%;
}
#works .carousel-wrapper {
  margin: 10px 30px;
  /* отступы для стрелок */
  overflow: hidden;
  /* скрываем содержимое, выходящее за рамки основной области */
  position: relative;
}
#works .carousel-items {
  width: 10000px;
  /* устанавливаем большую ширину для набора элементов */
  position: relative;
  /* позиционируем блок относительно основной области карусели */
}
#works .carousel-block {
  float: left;
  /* выстраиваем все элементы карусели в ряд */
  width: 220px;
  /* задаём ширину каждого элемента */
  height: 100%;
  overflow: hidden;
  padding: 20px;
  /* делаем оступы, чтобы элементы не сливались */
}
#works .carousel-block .work {
  display: block;
}
#works .carousel-block .work p {
  font-size: 1em;
}
#works .carousel-block .image {
  height: 200px;
  width: 100%;
}
#works .carousel-block .work1 {
  background: url("img/portfolio/1.jpeg") 50% 50%;
  background-size: cover;
}
#works .carousel-block .work2 {
  background: url("img/portfolio/2.jpeg") 50% 50%;
  background-size: cover;
}
#works .carousel-block .work3 {
  background: url("img/portfolio/3.jpeg") 50% 50%;
  background-size: cover;
}
#works .carousel-block .work4 {
  background: url("img/portfolio/4.jpeg") 50% 50%;
  background-size: cover;
}
#works .carousel-block .work5 {
  background: url("img/portfolio/5.jpeg") 50% 50%;
  background-size: cover;
}
#works .carousel-button-left a,
#works .carousel-button-right a {
  width: 50px;
  height: 50px;
  position: relative;
  top: 150px;
  cursor: pointer;
  text-decoration: none;
}
#works .carousel-button-left a {
  float: left;
  background: url("img/button_left.png");
  background-size: cover;
}
#works .carousel-button-right a {
  float: right;
  background: url("img/button_left.png");
  background-size: cover;
  transform: rotate(180deg);
}
#services_page {
  margin: 100px auto;
}
#services_page h1 {
  text-align: center;
}
#services_page .service {
  margin: 50px 0px 0px 0px;
  width: 100%;
  height: 200px;
  padding-top: 10px;
}
#services_page .service a:hover {
  text-decoration: none;
}
#services_page .service .s_icon {
  width: 85%;
  height: 145px;
  background: #fcce00;
  margin: 20px auto;
  opacity: 0.8;
  padding-top: 15px;
}
#services_page .service img {
  height: 75px;
  opacity: 1;
  margin: 0px auto;
  display: block;
}
#services_page .service p {
  text-align: center;
  margin: 0px auto;
  font-size: 2em;
  color: #171400;
  opacity: 1;
}
#services_page .serv1 {
  background: url("img/serv/1.jpg") 20% 20%;
  background-size: cover;
}
#services_page .serv3 {
  background: url("img/serv/3.jpg") 50% 50%;
  background-size: cover;
}
#services_page .serv4 {
  background: url("img/serv/4.jpg") 50% 50%;
  background-size: cover;
}
#services_page .serv5 {
  width: 100%;
  background: url("img/serv/5.jpg") 50% 50%;
  background-size: cover;
}
#services_page .serv5 .icon10 {
  width: 85%;
}
#services_page .text p {
  margin-top: 50px;
}
#services_page .links {
  border-left: 2px solid #fcce00;
  padding: 10px ;
}
#services_page .links a {
  display: inline-block;
  color: #a0850c;
  font-size: 1.3em;
  padding: 0 30px 8px 0;
}
#services_page .links a:hover {
  text-decoration: none;
  color: #e8be00;
}
#about {
  margin: 100px auto;
}
#about h1 {
  text-align: center;
  font-family: "Poiret One", serif;
  font-weight: bold;
  margin-bottom: 70px;
}
#about .logo img {
  width: 60%;
  margin-left: 25%;
}
#about .logo h2 {
  font-size: 2.4em;
  font-family: "Poiret One", serif;
  font-weight: bold;
  color: #e8be00;
}
#about p {
  padding-left: 50px;
}
#priorities {
  background: #ffffff;
  margin-top: 100px;
}
#priorities .container:first-child {
  border-top: 1px solid #fcce00;
}
#priorities h2 {
  color: #1c1c1c;
  margin-top: 70px;
}
#priorities .pr {
  height: 95px;
  margin: 35px 0;
}
#priorities .icon {
  height: 100px;
  margin: 70px auto 20px auto;
}
#priorities .ic1 {
  background: url("img/pr1.png") no-repeat 50% 50%;
  background-size: contain;
}
#priorities .ic2 {
  background: url("img/pr2.png") no-repeat 50% 50%;
  background-size: contain;
}
#priorities .ic3 {
  background: url("img/pr3.png") no-repeat 50% 50%;
  background-size: contain;
}
#priorities .desc {
  text-align: center;
}
#priorities .desc h3 {
  margin: 0px;
}
#priorities .desc p {
  font-size: 1.2em;
  padding: 25px 5px 100px 5px;
}
#priorities .container .try {
  margin: 0 100px;
}
#works {
  margin-top: 100px;
}
#works .our_works li {
  display: inline-block;
  background: #e8be00;
  padding: 15px 20px;
  margin-bottom: -10px;
  border-radius: 10px 10px 0 0;
}
#works .our_works li a {
  color: #1c1c1c;
  font-size: 1.4em;
}
#works .our_works li a:hover {
  text-decoration: none;
}
#works .our_works li:hover {
  background: #fcce00;
}
#works .our_works .tab-current {
  background: #fcce00;
  padding: 25px 3% 15px 3%;
}
#works .our_works .cont .t2,
#works .our_works .cont .t3,
#works .our_works .cont .t4,
#works .our_works .cont .t5 {
  display: none;
}
#works .our_works .cont .content {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #e8be00;
}
#works .our_works .cont .content1 img {
  width: 100%;
}
.head {
  padding: 100px 100px;
  background: #fcce00;
  text-align: center;
}
.tab_content {
  margin: 100px auto 50px auto;
}
.tab_content aside ul {
  list-style: none;
  padding: 0;
}
.tab_content aside ul li {
  display: block;
  font-size: 1.5em;
  padding: 10px;
  background: #e8be00;
  margin: 5px 0 5px 10px;
  border-radius: 10px 0 0 10px;
}
.tab_content aside ul li a {
  color: #1c1c1c;
}
.tab_content aside ul li a:hover {
  text-decoration: none;
  color: #1c1c1c;
}
.tab_content aside ul li:hover {
  background: #fcce00;
}
.tab_content aside ul .tab-current {
  background: #fcce00;
  padding: 20px;
  margin-left: 0px;
}
.tab_content .border {
  border-left: 1px solid #fcce00;
}
.tab_content .content {
  height: 800px;
}
.tab_content .content .t2,
.tab_content .content .t3,
.tab_content .content .t4,
.tab_content .content .t5,
.tab_content .content .t6,
.tab_content .content .t7 {
  display: none;
}
.tab_content .content h3 {
  font-size: 2.3em;
  text-align: center;
  margin-bottom: 40px;
  color: #1c1c1c;
}
.tab_content p {
  margin: 50px;
}
.tab_content .img {
  margin-top: 100px;
}
.tab_content .img .i {
  width: 22%;
  height: 200px;
  display: inline-block;
  margin: 0 5px;
}
.tab_content .types ul {
  list-style-image: url("img/list_style.png");
}
.tab_content .types ul li {
  font-size: 1.3em;
  margin: 5px;
}
#polygraphy .img1 {
  background: url("img/polygraphy/note1.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img2 {
  background: url("img/polygraphy/note2.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img3 {
  background: url("img/polygraphy/note3.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img4 {
  background: url("img/polygraphy/note4.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img5 {
  background: url("img/polygraphy/booklet1.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img6 {
  background: url("img/polygraphy/booklet2.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img7 {
  background: url("img/polygraphy/booklet3.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img8 {
  background: url("img/polygraphy/booklet4.png") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img9 {
  background: url("img/polygraphy/mag1.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img10 {
  background: url("img/polygraphy/mag2.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img11 {
  background: url("img/polygraphy/mag3.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img12 {
  background: url("img/polygraphy/mag4.jpeg") no-repeat 50% 50%;
  background-size: contain;
}
#polygraphy .img13 {
  background: url("img/polygraphy/calend1.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img14 {
  background: url("img/polygraphy/calend2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img15 {
  background: url("img/polygraphy/calend3.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img16 {
  background: url("img/polygraphy/calend4.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img17 {
  background: url("img/polygraphy/cat1.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img18 {
  background: url("img/polygraphy/cat2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img19 {
  background: url("img/polygraphy/cat3.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img20 {
  background: url("img/polygraphy/cat4.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img21 {
  background: url("img/polygraphy/poster1.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img22 {
  background: url("img/polygraphy/poster2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img23 {
  background: url("img/polygraphy/poster3.png") no-repeat 50% 50%;
  background-size: cover;
}
#polygraphy .img24 {
  background: url("img/polygraphy/poster4.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img1 {
  background: url("img/lfp/ban1.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img2 {
  background: url("img/lfp/ban2.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img3 {
  background: url("img/lfp/ban3.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img4 {
  background: url("img/lfp/ban4.jpeg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img5 {
  background: url("img/lfp/bord1.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img6 {
  background: url("img/lfp/bord2.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img7 {
  background: url("img/lfp/bord3.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img8 {
  background: url("img/lfp/bord4.jpg") no-repeat 50% 50%;
  background-size: contain;
}
#lfp .img9 {
  background: url("img/lfp/sticker1.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img10 {
  background: url("img/lfp/sticker2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img11 {
  background: url("img/lfp/sticker3.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img12 {
  background: url("img/lfp/sticker4.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img17 {
  background: url("img/lfp/sl1.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img18 {
  background: url("img/lfp/sl2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img19 {
  background: url("img/lfp/sl3.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#lfp .img20 {
  background: url("img/lfp/sl4.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img1 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img2 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img3 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img4 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img5 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img6 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img7 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img8 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#digital .img9 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img10 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img11 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img12 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img13 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img14 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img15 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img16 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img17 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img18 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img19 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#digital .img20 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img1 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img2 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img3 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img4 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img5 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img6 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img7 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img8 {
  background: url("") no-repeat 50% 50%;
  background-size: contain;
}
#corp .img9 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img10 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img11 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img12 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img13 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img14 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img15 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img16 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img17 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img18 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img19 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#corp .img20 {
  background: url("") no-repeat 50% 50%;
  background-size: cover;
}
#feedback {
  background: #fcce00;
  padding: 50px auto;
}
#feedback .container {
  background: #fcce00;
}
#feedback .container h2 {
  margin-top: 50px;
}
#feedback .container p {
  margin: 50px 10px;
}
#feedback .container .feedback_form {
  margin: 50px 50px 0 50px;
}
#feedback .container .feedback_form .img {
  width: 25px;
  height: 25px;
  position: absolute;
}
#feedback .container .feedback_form .img1 {
  top: 75px;
  background: url("img/form1.png") no-repeat;
  background-size: cover;
}
#feedback .container .feedback_form .img2 {
  top: 127px;
  background: url("img/form2.png") no-repeat;
  background-size: cover;
}
#feedback .container .feedback_form .img3 {
  top: 180px;
  background: url("img/form3.png") no-repeat;
  background-size: cover;
}
#feedback .container .feedback_form input {
  display: inline-block;
  width: 95%;
  margin: 15px 0px 0px 30px;
  height: 40px;
}
#feedback .container .feedback_form #message {
  display: inline-block;
  width: 95%;
  margin: 15px 0px 0px 30px;
}
#feedback .container .feedback_form input:focus {
  color: #1c1c1c;
  border-color: #fcce00;
}
#feedback .container .feedback_form textarea:focus {
  color: #1c1c1c;
  border-color: #fcce00;
}
#feedback .container .button {
  margin: 50px auto;
}
#feedback .container .button button {
  background: #e8be00;
  padding: 50px auto;
  height: 50px;
  width: 200px;
  border: none;
  color: #1c1c1c;
  font-size: 1.6em;
}
#map {
  width: 100%;
  height: 250px;
}
#map iframe .place-card-large {
  display: none !important;
}
footer {
  background: #1c1c1c;
  padding-bottom: 20px;
}
footer .logo {
  height: 50px;
  width: 50px;
  background: url("img/logo.png") no-repeat;
  background-size: cover;
  margin: 40px auto 15px auto;
}
footer p,
footer h4 {
  color: #ffffff;
  text-align: center;
  font-family: "Poiret One", serif;
}
footer h4 {
  font-weight: bold;
  font-size: 1.8em;
}
footer .left p {
  text-align: left;
  margin-top: 50px;
  padding-right: 70px;
}
footer .right p {
  text-align: right;
  margin-top: 80px;
}
/* Media queries */
/*PHONE*/
@media all and (max-width: 767px) {
  .container {
    max-width: 730px;
  }
  header #navigation .navbar {
    background: none;
    box-shadow: none;
  }
  #title {
    top: 70px;
  }
  #title h1 {
    font-size: 4.5em;
  }
  #title p {
    margin: 0;
    padding: 10px 30px;
    font-size: 1.2em;
  }
  #title img {
    width: 100px;
  }
  #we_are p {
    padding: 20px 10px;
  }
  #services .container .service .s_icon p {
    font-size: 1.25em;
  }
  #works h2 {
    font-size: 2.3em;
  }
  #works .carousel-block {
    width: 225px;
  }
  #works .carousel-block p {
    text-align: center;
  }
  #line {
    display: none;
  }
  #services_page .service p {
    font-size: 1.3em;
  }
  #about .logo img {
    width: 30%;
    margin-left: 35%;
  }
  #priorities .desc p {
    padding: 30px 10px 0px 10px;
  }
  #priorities .ic1 {
    background-size: 20%;
  }
  #priorities .ic2 {
    background-size: 20%;
  }
  #priorities .ic3 {
    background-size: 15%;
  }
  #works .our_works .tabs {
    padding: 5%;
  }
  #works .our_works .tabs li {
    padding: 5px 9%;
  }
  #works .our_works .tabs a {
    opacity: 0;
  }
  #works .our_works .tabs .t1 {
    background-image: url("img/icon/book.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 45%;
  }
  #works .our_works .tabs .t1 a {
    font-size: 0em;
  }
  #works .our_works .tabs .t2 {
    background-image: url("img/icon/corp.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 45%;
  }
  #works .our_works .tabs .t2 a {
    font-size: 0em;
  }
  #works .our_works .tabs .t3 {
    background-image: url("img/icon/visit.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 45%;
  }
  #works .our_works .tabs .t3 a {
    font-size: 0em;
  }
  #works .our_works .tabs .t4 {
    background-image: url("img/icon/signboard.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 45%;
  }
  #works .our_works .tabs .t4 a {
    font-size: 0em;
  }
  .head {
    padding: 50px 0;
  }
  .tab_content h1 {
    font-size: 2em;
  }
  .tab_content p {
    padding: 0px;
    margin: 0;
  }
  .tab_content aside .aside {
    padding: 0;
    margin: 0;
  }
  .tab_content aside ul li {
    margin: 5px 0;
    padding: 20px;
  }
  .tab_content aside ul li a {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 0.8em;
  }
  .tab_content .tab-current {
    padding: 1px;
    margin-top: 0px;
  }
  .tab_content .border {
    border: none;
  }
  .tab_content .img {
    display: none;
  }
  #feedback {
    margin: 20px 0px;
  }
  #feedback #line {
    display: block;
  }
  #feedback .input {
    margin: 0px;
  }
  #feedback p {
    text-align: center;
  }
  footer .left p,
  footer .right p {
    text-align: center;
    padding: 0;
  }
}
/*TABLETS*/
@media all and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 95%;
    margin: 0;
  }
  #title p {
    padding: 10px 50px;
  }
  #priorities .priority {
    margin: 50px 20px;
  }
  #priorities .priority .pr {
    height: 150px;
  }
  #priorities .priority .pr .icon {
    padding: 0px;
    width: 7%;
    float: left;
  }
  #services .button {
    margin: 15px auto;
  }
  #services .button button {
    padding: 0;
    margin: 0;
    height: 30px;
  }
  #clients .logo img {
    max-width: 240px;
  }
  #priorities .priority {
    margin: 50px 20px;
  }
  #priorities .priority .pr {
    height: 150px;
  }
  #priorities .priority .pr .icon {
    padding: 0px;
    width: 7%;
    float: left;
  }
  #works .our_works .tabs li {
    padding: 10px;
  }
  #works .our_works .tabs a {
    font-size: 1.2em;
  }
  .head {
    padding: 50px 0;
  }
}
/*MEDIUM DEVICE*/
@media all and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
/*LARGE DEVICE*/
@media all and (min-width: 1201px) {
  .container {
    width: 95%;
  }
}
